<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <%- include('../partials/client_head') %>
</head>
<body>
    <%- include('../partials/client_header') %>
    <div class="client-profile-container down-fivepercent" style="justify-content: left; margin-left: 2em;">
      <div class="client-profile-container">
          <div class="profile-pic-circle">
            <% if (user.profilePic) { %>
              <img src="<%= user.profilePic %>" alt="Profile Image" />
            <% } else { %>
              <i class="fa-solid fa-user"></i>
            <% } %>
          </div>
          <h2 style="text-align: left; margin-top: 1em;"><%= user.name %>'s profile</h2>
          <a href="/auth/client/edit-client-profile" style="text-decoration: none; color: blue; font-size: 0.8em;">Edit your profile</a>
        </div>
        <div class="client-profile-right">
          <!-- <p><%= user.email %></p> -->
          <p> has rated <%= isPro.length %> Professionals</p>
          <p>has rated <%= clientProjects.length %> projects</p>
          <p>has commented on <%= clientComments.length %> projects</p>
          <h3>Projects</h3>
          <div class="client-profile-projects">
            <% clientProjects.forEach(project => { %>
              <div class="client-profile-project">
                <img src="<%= project.image %>" alt="Project Image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;"/>
              </div>
            <% }) %>
          </div>
        </div>
    </div>