<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Profile</title>
    <%- include('head') %>
</head>
<body>
    <%- include('header') %>
    <div class="client-profile-container down-fivepercent">
      <div class="client-profile-container" style="margin: 0 auto; display: flex; flex-direction: column; align-items: center;">
        <div class="profile-pic-circle">
          <% if (user.profilePic) { %>
            <img src="<%= user.profilePic %>" alt="Profile Image" />
          <% } else { %>
            <i class="fa-solid fa-user"></i>
          <% } %>
        </div>
        <h2 style="margin-top: 1em; text-align: center;">Edit <%= user.name %>'s profile</h2>
      </div>
      <div class="client-profile-right">
        <form action="/client/edit-profile" method="POST" enctype="multipart/form-data" class="form">
          <label for="profilePic">Change profile picture:</label>
          <input type="file" name="profilePic" id="profilePic" accept="image/*">

          <label for="name">Name:</label>
          <input type="text" name="name" id="name" value="<%= user.name %>" required>

          <label for="email">Email:</label>
          <input type="email" name="email" id="email" value="<%= user.email %>" required>

          <button type="submit">Save changes</button>
        </form>
        
        <div style="margin-top: 1em; text-align: center;">
            <a href="/client/profile" class= "form" style="background-color: #6c757d; color: white; padding: 0.3rem; border: none; border-radius: 0.3em; font-size: 0.8em; cursor: pointer; margin-top: 0em; text-decoration: none; display: inline-block;">Cancel</a>
        </div>
      </div>
    </div>
</body>
</html>
